/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.a_tabs {
    margin-top: 65px;
    width: 350px;
    height: 100px;
    overflow: hidden;
    line-height: 100px;
    display: block;
    /*    border: 1px solid;*/
    float: left;
    /*    position: absolute;*/
    /*    float: right;*/
}
.a_cartDetailqty {
    width: 320px;
    float: left;
    height: 50%;
    line-height: 50px;
    text-align: center;
}

.a_product_price {
    width: 250px;
    float: left;
    height: 50%;
    line-height: 50px;
    text-align: center;
}

.a_price {
    display: inline;
    width: 35%;
    float: left;
    padding-left: 10px;
    text-align: left;
}

.a_price_num {
    display: inline;
    padding-left: 45px;
    text-align: left;
    float: left;
}

.a_quantity {
    display: inline;
    width: 35%;
    float: left;
    padding-left: 10px;
    text-align: left;
}

.a_quantity_num {
    display: inline;
    width: 90px;
    line-height: 50px;
}


.num_count {
    width: 50px;
    height: 50px;
    border: 1.2px solid #E0E0E0;
    float: left;
    text-align: center;
    /*    margin-top: 21px;*/
}

.count_d {
    width: 50px;
    height: 50px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size: 25px;
    border: 1.2px solid #E0E0E0;
    color: #747474;
}
    .count_d:hover {
        width: 50px;
        height: 50px;
        line-height: 40px;
        float: left;
        text-align: center;
        font-size: 25px;
        color: #747474;
        background: #E0E0E0;
        cursor: pointer;
    }

.count_i {
    width: 50px;
    height: 50px;
    line-height: 40px;
    float: left;
    text-align: center;
    font-size: 21px;
    color: #747474;
    border: 1.2px solid #E0E0E0;
}

    .count_i:hover {
        width: 50px;
        height: 50px;
        line-height: 40px;
        float: left;
        text-align: center;
        font-size: 21px;
        color: #747474;
        background: #E0E0E0;
        cursor: pointer;
    }

.delete_i {
    width: 25px;
    height: 30px;
    line-height: 40px;
    float: right;
    text-align: center;
    font-size: 21px;
    color: red;
    /* border: 1.2px solid #E0E0E0; */
    margin-left: 30px;
    margin-top: 6px;
    /* background: red; */
}

    .delete_i:hover {
        width: 25px;
        height: 30px;
        line-height: 40px;
        float: right;
        text-align: center;
        font-size: 21px;
        color: black;
        /*        background: red;
*/ cursor: pointer;
        margin-left: 30px;
        margin-top: 6px;
    }