@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Show Products";
    List<Product> products = (List<Product>)ViewData["products"];
    string searchStr = (string)ViewData["searchStr"];
}

<form action="/Home/Index/" method="POST">
    <div class="row" style="padding: 10px 25px 0px 25px;">
        <div class="col-md-8">
            <div class="input-group mb-3">
                <input type="text" class="form-control input-text" placeholder="Search products...." name="searchStr" value="@searchStr">
                <div class="input-group-append"> <button class="btn btn-primary btn-lg mybtn" type="submit"><i class="fa fa-search"></i></button> </div>
            </div>
        </div>
    </div>
</form>

<div class="row" style="padding: 30px 25px 30px 25px">
    @foreach (Product product in products)
    {
        <div class="col-sm-4" style="padding:15px">
            <div class="card text-center">
                <img class="card-img-top border" src=@product.Image alt="Card image cap" width="250" height="200">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <a href="#" class="btn btn-primary">$@product.Price - Add To Cart</a>
                </div>
            </div>
        </div>
    }
</div>
