<div class="card loginCard">
    <form action="/Login/Login" method="POST">

        <div class="form-outline mb-4">
            <input type="text" id="form2Example1" class="form-control" placeholder="Username" name="username" />
        </div>

        <div class="form-outline mb-4">
            <input type="password" class="form-control" placeholder="Password" name="password" />
        </div>

        <button type="submit" class="btn btn-block btn-primary">Sign in</button>
    </form>
</div>